<html lang="pt-br">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
		/>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			.body{ font-family: 'Roboto', sans-serif;font-size: 0.5rem; } .textarea {
			width: 300px; height: 150px; } .margin{height:35vh; display:inline-block;
			margin-right: 3vh; margin-bottom:3vh;border:0.3vh solid black;
			background-color: rgb(143, 156, 255);}.content{margin-left:
			3vh;}.lixo:hover{cursor: pointer;}.margin1{background-color: rgb(255, 137,
			137);}.center{display: flex; justify-content: center;margin-bottom: 4em;}.center2{display:
			inline-table;justify-content: center;} 
		</style>
	</head>
	<body class="body">
		<div class="center">
			<button class="margin1">
				<h2>Apagar <strong>TODAS</strong> solicitações</h2>
			</button>
		</div>
		{{#each list}}
			<div id="id" data-id="{{id}}" class="margin center2">
				<div class="content">
					<h1>Id {{id}}</h1>
					<h1>Nível: {{criticidade}}</h1>
					<h1>Por: {{solicitante}}</h1>
					<h1>{{descricao}}</h1>
					<h1>{{createdAt}}</h1>
					<button onclick="deletado()">
						<a>
							<span class="material-symbols-outlined lixo">
								delete
							</span>
						</a>
					</button>
				</div>
			</div>
		{{/each}}
		<a href="./cadtodo"><button> Nova Solicitação </button></a>
	</body>
	<script>

	setTimeout(() => {
  			document.location.reload();
		}, 30000);

	function deletado(){
		window.alert("Anotação deletada!")
	}
	</script>
</html>